th {
  background-color: rgb(140, 127, 255);
}

td {
  background-color: rgb(153, 189, 107);
}

body {
  background-image: url('images/gabo2.jpg');
  background-repeat: no-repeat;
  background-size: contain; /* O usa 'contain' si prefieres que toda la imagen sea visible */
  background-position: center;
}
